.container {
  padding: 20px 35px 20px 20px;
  border: solid 4px rgb(0, 0, 0, 0.5);
  margin-top: 40px;
  max-width: 650px;
}
h1 {
  text-align: center;
}
.date {
  text-align: center;
  font-weight: 700;
}
#current-location {
  font-size: 9px;
  margin-left: 30px;
  background-color: #66ede9;
  font-weight: 500;
  border-radius: 4px;
  width: 70px;
}
#current-location:hover {
  cursor: pointer;
  background-color: white;
  color: #66ede9;
}
.search-bar {
  border: 4px solid;
  border-color: #66ede9;
  width: 100%;
  font-size: 16px;
  margin-left: 15px;
  padding: 8px;
  margin-top: 0;
}
.search-icon {
  display: block;
  position: relative;
  margin-left: 210px;
  margin-top: -32px;
  font-size: 12px;
  padding: auto auto auto 0;
  border: none;
  background-color: #fff;
}

.current-emoji {
  width: 90px;
  margin-top: 0;
  padding: 0;
}
.current {
  font-size: 30px;
  text-align: left;
  padding: 20px 0 0 15px;
  color: rgb(0, 0, 0, 0.5);
  font-weight: 500;
  line-height: 70%;
}
#current-description {
  font-size: 18px;

  line-height: 1.8;
}
.unit {
  font-size: 12px;
  vertical-align: top;
  text-decoration: none;
}
.unit:hover {
  text-decoration: underline;
}
.selected {
  color: black;
  cursor: default;
}
.selected:hover {
  text-decoration: none;
}
.wind-humidity {
  font-size: 12px;
  line-height: 0.5;
  color: rgb(0, 0, 0, 0.5);
}
.sunrise-sunset {
  text-align: left;
  border: 3px solid #66ede9;
  padding: 3px 7px;
  margin-left: 30px;
  margin-top: -30px;
  color: rgb(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 18px;
}
.time {
  text-align: right;
  font-size: 12px;
}
.forecast {
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  color: rgb(0, 0, 0, 0.5);
  font-weight: 700;
}
.forecast-temps {
  font-size: 13px;
  font-weight: 500;
}
.code-link {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
